doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Gestión de MACs - IES Gregorio Prieto
    link(rel="stylesheet" href="estilos.css")
  body
    header
      h1 Registro de Direcciones MACs
      nav(aria-label="Menú principal")
        ul
          li
            a(href="#inicio") Inicio
          li
            a(href="#registro") Registro de MAC
          li
            a(href="#lista") Lista de MACs
    main
      section#inicio
        h2 Seleccionar clase
        form
          fieldset
            legend Elige el aula a gestionar
            label(for="clase") Clase:
            select(name="clase" id="clase" required)
              option(value="" disabled selected) -- Selecciona una clase --
              option(value="1daw") 1º DAW
              option(value="2daw") 2º DAW
              option(value="profes") Profesores
            button.btn-primario(type="submit" style="font-style: italic;") Cargar
      section#lista
        h2 MACs Registradas
        table
          thead
            tr
              th(scope="col") Dirección MAC
              th(scope="col") Comentario
              th(scope="col") Acciones
          tbody
            tr
              td 74:56:3C:59:E1:1D
              td PC_1DAW1
              td
                button.btn-eliminar Eliminar
                button.btn-editar Editar
            tr
              td 88:9F:FA:23:45:BC
              td Portátil Ana
              td
                button.btn-eliminar Eliminar
                button.btn-editar Editar
      section#registro
        h2 Añadir Nueva MAC
        form
          fieldset
            legend Formulario de alta
            label(for="mac") Dirección MAC:
            input(type="text" id="mac" name="mac" placeholder="Ej: 74:56:3C:59:E1:1D" pattern="^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$" required)
            label(for="comentario") Comentario:
            input(type="text" id="comentario" name="comentario" placeholder="Ej: Portátil Juan" minlength="3" maxlength="50" required)
            button.btn-primario(type="submit") Añadir
    footer
      p © 2025 Departamento de Informática. IES Gregorio Prieto