//- _nav_horizontal.pug
//-Módulo de navegación principal horizontal

nav.main-nav
    .container
        .row
            .three.columns
                a.nav-logo(href="home.html")
                    img(src="../img/logo.png", alt="Logo El Badulaque de Fede", style="height: 120px;") 
            .nine.columns
                button.nav-toggle.u-pull-right ☰
                ul.nav-links
                    li: a(href="home.html") HOME
                    li: a(href="amigos.html") AMIGOS
                    li: a(href="peticiones.html") PETICIONES
                    li: a(href="encargos.html") ENCARGOS