//- _nav_horizontal.pug
nav.main-nav
    .container
        .row
            .three.columns
                a.nav-logo(href="home.html") El Badulaque de Fede
            .nine.columns
                ul.nav-links
                    li: a(href="home.html") HOME
                    li: a(href="amigos.html") AMIGOS
                    li: a(href="peticiones.html") PETICIONES
                    li: a(href="encargos.html") ENCARGOS