//- parcial reutilizable para la barra de navegacion principal

//- 1. barra de navegacion
    nav.main-nav
        .container
            .row
                //- el logo ocupa 3/12 de la rejilla
                .three.columns
                    a.nav-logo(href="#") El Badulaque de Fede


                //- los enlaces ocupan 9/12 de la rejilla
                .nine.columns
                    ul.nav-links
                        li: a(href="home.html") HOME
                        li: a(href="amigos.html") AMIGOS
                        li: a(href="peticiones.html") PETICIONES
                        li: a(href="encargos.html") ENCARGOS