//- Plantilla base para todas las paginas HTML
doctype HTML
html(lang="es")

    head
        meta(charset="utf-8")
        title El badulaque de Fede
        meta(name="description", content="Página web para promocionar el badulaque de Fede.")
        meta(name="author" content="DIW - Ejercicio Badulaque")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //- enlae a la hora de estilos compilada por SASS
        link(rel="stylesheet" href="../css/mis_estilos.css")

    body
        //- Incluye la barra de nevagación reutilizable
        include _nav.pug

        //- El contenido especifico de cada pagina se inserta aqui
        block content
