HEAD
//-extender el layout base paea heredae head, body, y el enlace css
extends cabecera.pug

//- reemplazar el 'block content' definido en cabecera.pug
block content

    //- Contenido principal de la home (informacion y objetivo)
    .container  
        .row
            .twelve.columns
                h1.section-heading :Bienvenido al Badulaque de Fede!
                p.lead La tienda que te hace vender más.

        .row(style="margin-top: 40px;")
            //-columna de texto (8/12)
            .eight.columns
                h2 Sobre Nosotros
                p
                    | Soy Federico García, el Fede, y mi objetivo es dar a conocer mi tiend.
                    | Aquí encontrarás desde golosinas hasta packs especiales para tus eventos.
                    | Confío en que la web te mostrará la ubicación y el **buen trato** que te doy como dependiente.

                h2 Nuestro objetivo
                p
                    | Esta web está pensada para ti, para que puedas hacer peticiones de los productos que más te gustan
                    | y encargar packs de cumpleaños a medida. ¡Queremos abastecernos de las chuches mas demandadas del mercado!.

            //-Columna de imagen/ubicacion (4/12)
            .four.columns
                h3 Ubicación
                p ¡Estamos justo al lado!
                //-placeholder para la foto o mapa de la tienda

                .u-full-width(style="height: 200px; background-color: var(--color-secundario); text-align: center; line-height: 200px;")
                    strong Mapa / Foto de la Tienda
                    
feature/home-page
