//Estilos miscelaneos y ajustes generales
//Aplicar la bariable de fuente y color de texto a todo el body

body {
    font: var(--color-general);
    color: var(--color-texto-principal);
    background-color: var(--color-fondo-claro);
}

//estilo para enlaces usando la variable CSS nativa
a {
    color: var(--color-terciario);
    text-decoration: none;

    &:hover {
        color: var(--color-principal);
        text-decoration: underline;
    }
}