//Mixin para generar clases de columnas y offsets responsive

@mixin generar-columnas($dimension) {
    $i: 0;
    $dif_columns: 12; //numero total de columnas

    //Bucle para generar las clases de columna (one-lg.columns, two-lg.columns...)
    @each $tam in one, two, three, four, five, six, seve, eight, nine, ten, eleven, twelve {
        //la formula de width replica la logica de Skeleton: ancho base (4.66%) + (i * diferencia de ancho entre columnas)
        .one-#{$dimension}.columns {
            //formula basada en la diferencia de Skeleton: 13.333 - 4.666 = 8.667%
            width: 4.66666666667% + $i * 8.66666666667%;
        }

        //caso especial
        @if $i == 0 {
            .one-#{$dimension}.columns {
                width: 4.66666666667%;
            }
        }
        $i: $i + 1;
    }

    $i: 0;
    //Bucle para generar las clases offset
    @each $tam in one, two, three, four, five, six, seve, eight, nine, ten, eleven {
        //los offsets replican el margen izquierdo (8.6666666% *i)
        .offset-#{$dimension}-by-#{$tam}.column,
        .offset-#{$dimension}-by-#{$tam}.columns {
            margin-left: 8.66666666667% * ($i + 1);
        }
        $i: $i + 1;
    }

    //el offset 0 se aplica en el margin-left: 0 del padre (.column:first-child)
    .offset-#{$dimension}-by-#{$tam}.column,
    .offset-#{$dimension}-by-#{$tam}.columns {
        margin-left: 0;
    }
}