//estilos para el menú de navegacion (navbar)

@use 'variables';

.main-nav {
    //estilos del contenedor principalde la navegacion
    background-color: var(--color-principal);
    padding: 15px 0;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);

    //ajustar la rejilla de skeleton para centrar y contener el menu
    .row {
        align-items: center; //centra verticalmente
    }
}

.nav-logo {
    //estilos para el nombre de la tienda
    font-size: 2.0rem;
    font-weight: bold;
    color: var(--color-fondo-claro);
    text-decoration: none;
    margin: 0;
    line-height: 1;
}

.nav-links {
    //estilos del contenedor de los enlaces
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right; //alinear a la derecha en pantallas grandes

    li {
        display: inline-block; //pone los enlaces en linea
        margin-left: 25px;

            * {
                //estilos especificos de los enlaces de navegacion
                color: var(--color-fondo-claro); 
                font-size: 1.2rem;
                text-transform: uppercase;
                letter-spacing: 0.05rem;

                    &:hover {
                        color: var(--color-terciario); //cambia el color al pasar el raton
                    }
            }
    }
    //ocultar la lista de enlaces en movil
    @media (max-width: 549px) {
        display: none;
    }
}