//Modificaciones personalizadas a los breakpoints del framework Skeleton

//importar el archivo de mixins para poder usar generar-columnas
@use '_mixins';

//Modificacion para dispositivos medianos 
@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    .container-fluid {
        width: 100%
    }

    //Clases de utilidad movidas del skeleton original
    .desaparecer-md {
        display: none;
    }
    .aparecer-md {
        display: block;
    }
}

//Modificaciones para dispositivos grandes
@media (min-width: 750px) {
    .container {
        width: 80%;
    }
    .container-fluid {
        width: 100%;
    }

    //se aplicacion los estilos de las columnas para el breakpoint 'lg'
    .column,
    .columns {
        margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    //clases de utilidad personalizadas
    .desaparecer-lg {
        display: none;
    }
    .aparecer-lg {
        display: block;
    }

    //generar las 12 clases de columna y sis offsets para 'lg
    @include generar-columnas("lg");
}