// css/_variables.scss

:root {
    --color-principal: #337ab7;
    --color-secundario: #5cb85c;
    --color-terciario: #f0ad4e;
    --color-cuaternario: #d9534f;
    --color-fondo-claro: #ffffff;
    --color-texto-principal: #333333;
}
$desktop-width: 992px; // Variable SASS interna para mixins