//contiene las cariables CSS nativas que facilitaran la creacion de temas
:root {
    //fuente base
    --fuente-general: 12pt Verdana, Arial, sans-serif;

    //colores del tema 1 (por defecto)
    --color-principal: #838097; 
    --color-secundario: #D5ACA9;
    --color-terciario: #EBCFB2;
    --color-cuaternario: #d1a7b1;

    --color-texto-principal: #333333;
    --color-fondo-claro: #f4f4f4;
}