// css/mis_estilos.scss
@use 'normalize'; 
@use 'skeleton'; 
@use 'variables'; 
@use 'mixins'; 
@use 'tam_lg'; 
@use 'nav_horizontal';

// ... (contenido anterior) ...

@use 'nav_horizontal'; 
@use 'amigos'; // AÑADIR esta línea