// css/mis_estilos.scss - Importa la base
@use 'normalize'; 
@use 'skeleton'; 
@use 'variables'; 
@use 'mixins'; 
@use 'tam_lg';


@use 'amigos';
@use 'encargos';


@use 'nav_horizontal'; 
@use 'nav_vertical';

/* Estilos globales */
body {
    background-color: #f9f9f9;
}
.section-heading {
    color: variables.$color-principal;
    border-bottom: 2px solid variables.$color-secundario;
    padding-bottom: 10px;
    margin-bottom: 30px;
}