//- hoja principal que incluye todos los parciales y se compila a mis_estilos.css
//- el orden es fundamental: normalize -> skeleton -> variables -> modificaciones


@use '_normalize'; //Resetea estilos
@use '_skeleton'; //Framework base
@use '_variables'; //Variables CSS nativas (para que esten disponibles)
@use '_tam_lg'; //Modificaciones de breakpoints y columnas
@use '_misc'; //Estilos varios, incluyendo colores de enlaces
@use '_nav'; //Estilos de la barra de navegacion