dDctype html 
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gestión de Redes - IES Gregorio Prieto
    link(rel="stylesheet", href="estilos.css")
  body
    include partials/header.pug

    main
      block content

    include partials/footer.pug
